body{
    background-color: rgb(172, 79, 4);   
}
.part1{
    background-color: saddlebrown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
}
.part1 > .container{
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 40%;
    min-height: 150px;
    padding: 10px;
    background-color: yellow;
    display: flex;
}
.cn1{
    align-items:flex-end;
}
.cn2{
    justify-content: center;
    align-items: stretch;
}
.cn3{
    align-items: center;
    justify-content: right;
}
.cn4{
    display: flex;
    justify-content: space-between;
}
.cn5{
    align-items: baseline;
    justify-content: space-between;
}
.cn6{
    justify-content: space-around;
    align-items: center;
}
.card{
    background-color: darkcyan;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
    width: 50px;
    height: 50px;
    align-content: center;
    text-align: center;
}
.cn2 > .card{
    height: 150px;
    width: 50px;
}
.cn4 > .card__right{
    align-self: flex-end;
}
.cn5 > .card__left{
    height: 150px;
    width: 50px;
}
.cn5 > .card__right{
    height: 150px;
    width: 50px;
}
.cardtext{
    display: flex;
}
.cn6 > .card__middle{
    flex-grow: 1;
    height: 50px;
}

.part2{
    background-color: coral;
    display: flex;
    align-items: center;
    max-width: 70%;
    flex-wrap: wrap;
    gap: 10px; 
    justify-self: center;
    margin:10px;
    padding: 10px;
}
.part2 > .container{
    background-color: black;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    width: 200px;
    height: 175px;
    display: flex;
    flex-wrap:wrap;
    gap:5px;
    margin:10px;
    padding: 10px;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: gray;
}
.part2 > .cn8{
    background-color: chocolate;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
}
.part2 > .cn9{
    justify-content: space-between;
    align-content: space-between;
}
.part2 > .cn10{
    background-color: chocolate;
    justify-content: space-around;
    align-content: space-around;
}
.part2 > .cn11{
    justify-content: center;
    align-content: center;
}