body{
    background-color: rgb(172, 79, 4);
    align-items: center;
}
.heading_text{
    text-align: center;
}
.row{
    flex-direction:row;
    align-items: center;
    width: 80%;
    padding: 10px;
    display: flex;
}
.firstrow{
    justify-content: space-evenly;
}
.secondrow{
    justify-content: space-evenly;
}
.thirdrow{
    justify-content: space-evenly;
}
.container{
    border: 3px dotted rgb(255, 255, 255);
    position: relative;
    width: 40%;
    padding: 10px;
    display: flex;
}
.cn1{

}
.cn2{

}
.cn3{

}
.cn4{

}
.cn5{

}
.cn6{

}
.card{
    background-color: darkcyan;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
}
.cd1{

}
.cd2{
    
}
.cd3{
    
}

.cn1 .cd1{

}
.cn1 .cd2{
    
}
.cn1 .cd3{
    
}
.cn2 .cd1{

}
.cn2 .cd2{
    
}
.cn2 .cd3{
    
}
.cn3 .cd1{

}
.cn3 .cd2{
    
}
.cn3 .cd3{
    
}
.cn4 .cd1{

}
.cn4 .cd2{
    
}
.cn4 .cd3{
    
}
.cn5 .cd1{

}
.cn5 .cd2{
    
}
.cn5 .cd3{
    
}
.cn6 .cd1{

}
.cn6 .cd2{
    
}
.cn6 .cd3{
    
}